<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEIMDALL</title>
</head>
<body>
       <header>
        <nav>
            <ul>
                <li><a href="#">INICIANDO</a></li>
                <li><a href="#">INICIANDO</a></li>
                <li><a href="#">INICIANDO</a></li>
                <li><a href="#">INICIANDO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>HEIMDALL</h1>
            <h2>Nada escapa ao olhar do HEIMDALL</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, et minima ab itaque tempore cum laudantium modi facilis unde error suscipit nisi velit autem excepturi? Quam quidem modi cumque dolorum!</p>
        </section>
    </main>
</body>
</html>