<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">INICIANDO</a></li>
                <li><a href="#">INICIANDO</a></li>
                <li><a href="#">INICIANDO</a></li>
                <li><a href="#">INICIANDO</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section></section>
    </main>

    <footer>
        <div style="flex:1; min-width:250px; margin-bottom:20px;">
            <p style="margin:0;">Desenvolvido por <strong>Mont Clio</strong></p>
            <p style="margin:5px 0;">© 2025 Mont Clio. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>